{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="content mt-5 mx-5">
        {% if stock_name %}
            <h2 class="mx-5">{{ stock_name }}</h2>
        {% else %}
            <h2 class="mx-5">Historical Price Chart</h2>
        {% endif %}

        <form class="my-2 mx-5" method="post" class="form-inline" id="stock-search-form">
            {% csrf_token %}
            <div class="input-group mx-3 my-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="{{ form.stock_ticker.id_for_label }}">Stock Ticker</label>
                </div>
                <input type="text" name="{{ form.stock_ticker.name }}" placeholder="Enter stock ticker" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Button to switch graph type -->
    <div class="col-12 mt-2 mx-5">
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type=line"
           class="btn btn-primary">Line Graph</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type=candlestick"
           class="btn btn-primary">Candlestick Graph</a>
    <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type=area"
           class="btn btn-primary">Area Graph</a>
    </div>

    <div class="col-12 mt-4 mx-5">
        <!-- Plotly graph -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Historical Price Chart</h4>
            </div>
            <div class="card-body">
                <div id="plotly-graph">{{ plot_div|safe }}</div>
            </div>
            <div class="card-footer">
                <div id="card-footer">{{ graph_type }} / {{ timeline }}</div>
            </div>
        </div>
    </div>

    <!-- Button to switch date -->
    <div class="col-12 mt-2 mx-5">

        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=1d"
           class="btn btn-secondary">1d</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=5d"
           class="btn btn-secondary">5d</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=1mo"
           class="btn btn-secondary">1mo</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=6mo"
           class="btn btn-secondary">6mo</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=ytd"
           class="btn btn-secondary">YTD</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=1y"
           class="btn btn-secondary">1y</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=5y"
           class="btn btn-secondary">5y</a>
        <a href="{% url 'stocks:stock_history' %}?stock_ticker={{ stock_ticker }}&graph_type={{ graph_type }}&timeline=max"
           class="btn btn-secondary">Max</a>

    </div>
{% endblock %}

{% block alerts %}
    {% if form_error %}
        <div id="errorModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Oops! An error occured!</h4>
                            <p>{{ error_message }}</p>
                            <hr>
                            <p class="mb-0">{{ fix_error_message }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        // Modal handling
        $(document).ready(function() {
            {% if form_error %}
                $("#errorModal").modal("show");
            {% endif %}
        });
    </script>
{% endblock %}
