{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <div class="homepage-image">
        <div class="overlay"></div>
        <div class="container content-container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4 animate__animated animate__zoomIn">Welcome to Portfolio Tracker</h1>
                    <p class="lead animate__animated animate__fadeInUp">Keep track of your stock portfolio and analyze historical price data.</p>
                    <a href="{% url 'stocks:stock_info' %}" class="btn btn-primary btn-lg mr-2 mt-1
                    animate__animated animate__zoomIn">Explore Stocks</a>
                    <a href="{% url 'stocks:stock_history' %}" class="btn btn-secondary btn-lg mt-2
                    animate__animated animate__zoomIn">View Historical Graphs</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
