{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <h2>Stock Information</h2>
        <form method="post" class="form-inline" id="stock-search-form">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ form.stock_ticker.label_tag }}
                {{ form.stock_ticker }}
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        <!-- Display stock information -->
        {% if stock.name %}
            <div class="stock-info">
                <h3>{{ stock.name }}</h3>
                <div class="row">
                    <div class="col-4">
                        <!-- List group -->
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="stock-summary-tab"
                               data-bs-toggle="list" href="#stock-summary" role="tab" aria-controls="stock-summary">Summary</a>
                            <a class="list-group-item list-group-item-action" id="company-profile-tab"
                               data-bs-toggle="list" href="#company-profile" role="tab" aria-controls="company-profile">Profile</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <!-- Stock summary tab info -->
                            <div class="tab-pane fade show active" id="stock-summary" role="tabpanel"
                                 aria-labelledby="stock-summary-tab">
                                <div class="card card-body">
                                    <div class="col-md-4">
                                        <p class="fw-bold">Symbol:</p>
                                        <p class="text-muted">{{ stock.symbol }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Overall Risk:</p>
                                        <p class="text-muted">{{ stock.overall_risk }}%</p>
                                    </div>
                                     <div class="col-md-4">
                                        <p class="fw-bold">Previous close:</p>
                                        <p class="text-muted">{{ stock.previous_close_price }}{{ stock.currency}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Open:</p>
                                        <p class="text-muted">{{ stock.open_price }}{{ stock.currency}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Price:</p>
                                        <p class="text-muted">{{ stock.price }}{{ stock.currency}}</p>
                                    </div>
                                     <div class="col-md-4">
                                        <p class="fw-bold">Bid:</p>
                                        <p class="text-muted">{{ stock.bid_price }}{{ stock.currency}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Ask:</p>
                                        <p class="text-muted">{{ stock.ask_price }}{{ stock.currency}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Exchange Market:</p>
                                        <p class="text-muted">{{ stock.exchange }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Company tab info -->
                            <div class="tab-pane fade" id="company-profile" role="tabpanel"
                                 aria-labelledby="company-profile-tab">
                                <div class="card card-body">
                                    <div class="col-md-4">
                                        <p class="fw-bold">Country:</p>
                                        <p class="text-muted">{{ stock.company.country }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Address:</p>
                                        <p class="text-muted">{{ stock.company.address }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">City:</p>
                                        <p class="text-muted">{{ stock.company.city }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">State:</p>
                                        <p class="text-muted">{{ stock.company.state }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Website:</p>
                                        <p><a class="link-opacity-75-hover" href="{{ stock.company.website }}"
                                              target="_blank">{{ stock.company.website }}</a></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Industry:</p>
                                        <p class="text-muted">{{ stock.company.industry }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Sector:</p>
                                        <p class="text-muted">{{ stock.company.sector }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="fw-bold">Business Summary:</p>
                                        <p class="text-muted">{{ stock.company.business_summary }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        // Implements animations for the navigation bars
        $(document).ready(function() {
            $(".list-group-item").live('click', function(){
                $('.active').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
{% endblock %}
