{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content mx-5 px-5 mt-5 animate__animated animate__fadeIn">
        <h2>Stock Information</h2>
        <form class="my-5" method="post" class="form-inline" id="stock-search-form">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="{{ form.stock_ticker.id_for_label }}">Stock Ticker</label>
                </div>
                <input type="text" name="{{ form.stock_ticker.name }}" placeholder="Enter stock ticker" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <!-- Display stock information -->
        {% if stock.name %}
            <div class="stock-info">
                <h3>{{ stock.name }}</h3>
                <div class="d-flex align-items-start mt-5">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="stock-info-tab" data-bs-toggle="pill" data-bs-target="#stock-info" type="button" role="tab" aria-controls="stock-info" aria-selected="true">Home</button>
                        <button class="nav-link" id="company-info-tab" data-bs-toggle="pill" data-bs-target="#company-info" type="button" role="tab" aria-controls="company-info" aria-selected="false">Profile</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="stock-info" role="tabpanel" aria-labelledby="stock-info-tab">
                            <div class="animate__fadeIn mb-5 mt-2">
                                <div class="card" style="width: 100rem;">
                                    <div class="card-body">
                                        <p class="fw-bold">Symbol:</p>
                                        <p class="text-muted">{{ stock.symbol }}</p>

                                        <p class="fw-bold">Overall Risk:</p>
                                        <p class="text-muted">{{ stock.overall_risk }}%</p>


                                        <p class="fw-bold">Previous close:</p>
                                        <p class="text-muted">{{ stock.previous_close_price }}{{ stock.currency}}</p>


                                        <p class="fw-bold">Open:</p>
                                        <p class="text-muted">{{ stock.open_price }}{{ stock.currency}}</p>

                                        <p class="fw-bold">Price:</p>
                                        <p class="text-muted">{{ stock.price }}{{ stock.currency}}</p>

                                        <p class="fw-bold">Bid:</p>
                                        <p class="text-muted">{{ stock.bid_price }}{{ stock.currency}}</p>

                                        <p class="fw-bold">Ask:</p>
                                        <p class="text-muted">{{ stock.ask_price }}{{ stock.currency}}</p>

                                        <p class="fw-bold">Exchange Market:</p>
                                        <p class="text-muted">{{ stock.exchange }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="company-info" role="tabpanel" aria-labelledby="company-info-tab">
                            <div class="animate__fadeIn mb-5 mt-2">
                                <div class="card">
                                    <div class="card-body">

                                        <p class="fw-bold">Country:</p>
                                        <p class="text-muted">{{ stock.company.country }}</p>

                                        <p class="fw-bold">Address:</p>
                                        <p class="text-muted">{{ stock.company.address }}</p>

                                        <p class="fw-bold">City:</p>
                                        <p class="text-muted">{{ stock.company.city }}</p>

                                        <p class="fw-bold">State:</p>
                                        <p class="text-muted">{{ stock.company.state }}</p>

                                        <p class="fw-bold">Website:</p>
                                        <p><a class="link-opacity-75-hover" href="{{ stock.company.website }}"
                                              target="_blank">{{ stock.company.website }}</a></p>

                                        <p class="fw-bold">Industry:</p>
                                        <p class="text-muted">{{ stock.company.industry }}</p>

                                        <p class="fw-bold">Sector:</p>
                                        <p class="text-muted">{{ stock.company.sector }}</p>

                                        <p class="fw-bold">Business Summary:</p>
                                        <p class="text-muted">{{ stock.company.business_summary }}</p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block alerts %}
    {% if form_error %}
        <div id="errorModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Oops! An error occured!</h4>
                            <p>{{ error_message }}</p>
                            <hr>
                            <p class="mb-0">{{ fix_error_message }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        // Modal handling
        $(document).ready(function() {
            {% if form_error %}
                $("#errorModal").modal("show");
            {% endif %}
        });
    </script>
{% endblock %}

